﻿@model LandlordsAssociation.ViewModels.HireProviderViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}


<h4 style="text-align: center;">Add provider</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label">Service:</label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label">Expiration date:</label>
                <input asp-for="ExpirationDate" class="form-control" type="date"/>
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add provider" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>



