﻿@model LandlordsAssociation.Models.Providers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}


<h4 style="text-align: center;">Delete provider</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <select asp-for="Name" class="form-control" asp-items="ViewBag.Name"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete provider" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


