﻿@model LandlordsAssociation.ViewModels.HireProviderViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}


<h4 style="text-align: center;">Update provider</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Provider</label>
                <select id="selected-provider" onchange="get_provider_details()"  class="form-control" asp-items="ViewBag.Name">
                    <option selected="selected">
                        Choose a provider
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" id="name-field" class="form-control "/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label">Service:</label>
                <input asp-for="Service" id="service-field" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" id="address-field" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label">Expiration date:</label>
                <input asp-for="ExpirationDate" id="expiration-date-field" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price:</label>
                <input asp-for="Price" id="price-field" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update provider" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


@section scripts {
<script type="text/javascript">
    function get_provider_details() {
    var provider = { id: $("#selected-provider").val() };
    console.log(provider);
    $.ajax({
        url: "/Providers/GetProviderDetails",
        type: "GET",
        data: provider,
        success: function (data) {
            $('#name-field').val(data.name);
            $('#service-field').val(data.service);
            $('#address-field').val(data.address);
            $('#expiration-date-field').val(data.expirationDate);
            $('#price-field').val(data.price);
            console.log(data);
        },
        error: function () {
            console.log("Something went wrong...");
        }
    });
}
</script>
}