﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="~/images/small_logo.png" />
    <title>@ViewData["Title"] - Landlords Association</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <img src="~/images/small_logo.png" width="35" height="35" class="mr-2" style="border-radius: 50%;">
            <a class="navbar-brand" asp-area="" asp-controller="Bills" asp-action="SeeIncomeAndCosts">Landlords Association</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Bills" asp-action="SeeIncomeAndCosts">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Employees
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Create">Add employee</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Edit">Update employee</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Delete">Delete employee</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Providers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Providers" asp-action="Create">Add provider</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Providers" asp-action="Edit">Update provider</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Providers" asp-action="Delete">Delete provider</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tenants
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Tenants" asp-action="Create">Add tenant</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Apartments" asp-action="AssignApartmentToTenant">Assign apartment</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Tenants" asp-action="Delete">Delete tenant</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="form-inline mr-5 my-lg-0 col-1 align-self-lg-end">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/user_icon.jpeg" width="35" height="35" style="border-radius: 50%;">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Users" asp-action="Edit">Edit account</a>
                        <a class="dropdown-item" asp-controller="Users" asp-action="Details">See account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Users" asp-action="Logout">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Landlords Association
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
