﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center jumbotron" style="opacity: 0.9;">
    <div class="col-6">
        <img src="~/images/logo.png" alt="Logo image" style="width: 60%; margin-left:20%; border-radius: 50%;"/>
        <p style="text-align: center; font-size: large;">Welcome to the Landlords Association.<br>
        This is a WEB application made in order to make your work easier</p>
    </div>
</div>
