﻿@model LandlordsAssociation.Models.Tenants

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h4 style="text-align: center;">Delete tenant</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label">CNP:</label>
                <select asp-for="CNP" class="form-control" asp-items="ViewBag.CNP"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete tenant" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>
