﻿@model LandlordsAssociation.Models.Employees

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}
    <link rel="stylesheet" href="~/css/messages.css" type="text/css">
<script src="~/js/site.js" type="application/javascript"></script>
<h4 style="text-align: center;">Add an employee</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First name:</label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last name:</label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Username:</label>
                <input class="form-control" id="username_field" disabled />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" onchange="set_username()" id="email_field" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone number:</label>
                <input asp-for="PhoneNumber" class="form-control" type="tel" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label">Salary:</label>
                <input asp-for="Salary" class="form-control" type="number" step="any" required />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label">CNP:</label>
                <input asp-for="CNP" class="form-control" required />
                <span asp-validation-for="CNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label">Job:</label>
                <select asp-for="Job" onchange="change_username()" class="form-control" id="job_field" required>
                    <option>Accountant</option>
                    <option>Secretary</option>
                    <option>Block administrator</option>
                    <option>Janitor</option>
                    <option>Watchman</option>
                    <option>Plumber</option>
                    <option>Electritian</option>
                </select>
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>