﻿@model LandlordsAssociation.ViewModels.DeleteEmployeeViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}
<script src="~/js/site.js" type="application/javascript"></script>
<h4 style="text-align: center;">Delete an employee</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">The employee's first name:</label>
                <select asp-for="FirstName" onchange="get_last_name()" id="first_name_field" class="form-control" asp-items="ViewBag.FirstNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">The employee's last name:</label>
                <select asp-for="LastName" onchange="get_cnp()" id="last_name_field" class="form-control">
                    <option selected="selected">
                        Choose a last name
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label">The employee's CNP:</label>
                <select asp-for="CNP" id="cnp_field" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>