﻿@model LandlordsAssociation.Models.Employees

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}
<script src="~/js/site.js" type="application/javascript"></script>
<h4 style="text-align: center;">Update an employee</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label">The employee's CNP:</label>
                <select asp-for="CNP" onchange="get_employee()" id="cnp_field" class="form-control" asp-items="ViewBag.Employees"></select>

            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last name:</label>
                <input id="last_name_field" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First name:</label>
                <input id="first_name_field" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Username:</label>
                <input id="username_field" class="form-control" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <input id="address_field" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input id="email_field" onchange="set_username()" asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone number:</label>
                <input id="phone_number_field" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label">Salary:</label>
                <input id="salary_field" asp-for="Salary" type="number" step="any" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label">Job</label>
                <select id="job_field" asp-for="Job" onchange="change_username()" class="form-control" required>
                    <option>Accountant</option>
                    <option>Secretary</option>
                    <option>Block administrator</option>
                    <option>Janitor</option>
                    <option>Watchman</option>
                    <option>Plumber</option>
                    <option>Electritian</option>
                </select>
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


