﻿@model LandlordsAssociation.ViewModels.TenantContractViewModel

@{
    ViewData["Title"] = "CreateContract";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<link rel="stylesheet" href="~/css/messages.css" type="text/css">



<h4 style="text-align: center;">Assign apartment</h4>
<hr />
<div class="container py-5">
    @if (ViewData["Message"] != null)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewData["Message"]
        </div>

    }
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form asp-action="AssignApartmentToTenant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="TenantCNP">Tenant CNP</label>
                        <select asp-for="TenantCNP" class="form-control" asp-items="ViewBag.TenantCNP"></select>
                    </div>
                    <div class="col-sm-6">
                        <label for="ApartmentNumber">Apartment number</label>
                        <input id="selected_apartment" asp-for="ApartmentNumber" class="form-control" type="number" min="1" required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="NoPersons" class="control-label">Number of persons</label>
                        <input asp-for="NoPersons" class="form-control" type="number" min="1" required />
                        <span asp-validation-for="NoPersons" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="NoRooms" class="control-label">Number of rooms</label>
                        <input asp-for="NoRooms" id="no_rooms" class="form-control" readonly />
                        <span asp-validation-for="NoRooms" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="ContractType" class="control-label">Contract type</label>
                        <select asp-for="ContractType" class="form-control">
                            <option>Rent</option>
                            <option>Buy</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="BlockNumber" class="control-label">Block number</label>
                        <select id="selected_block" asp-for="BlockNumber" class="form-control" asp-items="ViewBag.BlockId"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="Value" class="control-label"></label>
                        <input asp-for="Value" class="form-control" type="number" step="any" required />
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Entrance" class="control-label"></label>
                        <input id="selected_entrance" asp-for="Entrance" onchange="get_rooms_number()" class="form-control" type="text" required />
                        <span asp-validation-for="Entrance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="form-row justify-content-center">
                        <input type="submit" value="Assign" class="btn btn-primary" id="button-form" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>