﻿@model LandlordsAssociation.ViewModels.DebtForApartmentViewModel
@{
    ViewData["Title"] = "See debt for apartment";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<link rel="stylesheet" href="~/css/messages.css" type="text/css">

@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}

<h4 style="text-align: center;">See debt</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="SeeDebtForApartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockNumber" class="control-label">Block:</label>
                <select asp-for="BlockNumber" class="form-control" asp-items="ViewBag.Blocks"></select>
            </div>
            <div class="form-group">
                <label asp-for="Entrance" class="control-label">Entrance:</label>
                <input asp-for="Entrance" class="form-control" type="text" required />
                <span asp-validation-for="Entrance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Apartment number:</label>
                <input asp-for="Number" class="form-control" type="number" required />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="See debt" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>