﻿@model LandlordsAssociation.ViewModels.ApartmentDebtViewModel
@{
    ViewData["Title"] = "SeeResultsApartment";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<div class="row justify-content-center" style="margin-top: 10%;">
    <div class="col-10 jumbotron">
        <h3>The total debt: @ViewBag.TotalAmount</h3>
        <h3>The debt for the current month: @ViewBag.CurrentMonth</h3>
    </div>
</div>
<h6 style="text-align: center;">See debt for the apartment with the id: @Model.Apartment.Id</h6>
<div class="row justify-content-center">
    <div class="col-10">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Apartment id</th>
                    <th scope="col">Apartment number</th>
                    <th scope="col">No. persons</th>
                    <th scope="col">No. rooms</th>
                    <th scope="col">Debt</th>
                    <th scope="col">Unpaid rent</th>
                    <th scope="col">Water bill</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Apartment.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Apartment.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Apartment.NumberPersons)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Apartment.NumberRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Debt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.UnpaidRent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.WaterBill)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
