﻿@model LandlordsAssociation.ViewModels.ChangeNumberOfPersonsViewModel
@{
    ViewData["Title"] = "ChangeNumberOfPersons";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<link rel="stylesheet" href="~/css/messages.css" type="text/css">

<h4 style="text-align: center;">Update the number of persons</h4>
<hr />
<br />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="UpdateNumberOfPersons">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockId" class="control-label">Block:</label>
                <select asp-for="BlockId" class="form-control" asp-items="ViewBag.Blocks"></select>
            </div>
            <div class="form-group">
                <label asp-for="Entrance" class="control-label">Entrance:</label>
                <input asp-for="Entrance" class="form-control" type="text" />
                <span asp-validation-for="Entrance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label">The number of the apartment:</label>
                <input asp-for="ApartmentNumber" class="form-control" type="number" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPersons" class="control-label">The number of persons:</label>
                <input asp-for="NumberOfPersons" class="form-control" type="number" />
                <span asp-validation-for="NumberOfPersons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


