﻿@model LandlordsAssociation.Models.AdditionalBills

@{
    ViewData["Title"] = "AddAdditionalBill";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<script src="~/js/site.js" type="application/javascript"></script>
<link rel="stylesheet" href="~/css/messages.css" type="text/css">

<h4 style="text-align: center;">Add a bill for an <br> unexpected malfunction</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="AddAdditionalBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Id:</label>
                <input class="form-control" id="id_field" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Value:</label>
                <input asp-for="Value"  onchange="get_next_id()" class="form-control" type="number" step="any" required />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label">Malfunction:</label>
                <input asp-for="Service" class="form-control" required />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add bill" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>