﻿@model LandlordsAssociation.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "AddPayment";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<link rel="stylesheet" href="~/css/messages.css" type="text/css">
<h4 style="text-align: center;">Add payment</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillId" class="control-label">Bill Id</label>
                <input asp-for="BillId" class="form-control" id="id_field" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label">Apartment number</label>
                <input asp-for="ApartmentNumber" onchange="get_next_id_payment()" class="form-control" required />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockNumber" class="control-label">Block number</label>
                <input asp-for="BlockNumber" class="form-control" required />
                <span asp-validation-for="BlockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceName" class="control-label">Entrance</label>
                <input asp-for="EntranceName" class="form-control" required />
                <span asp-validation-for="EntranceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" type="number" step="any" required />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add payment" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


