﻿@model LandlordsAssociation.ViewModels.AddProviderBillViewModel

@{
    ViewData["Title"] = "Add provider bill";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<link rel="stylesheet" href="~/css/messages.css" type="text/css">
<h4 style="text-align: center;">Add provider bill</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddProviderBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label">Provider name</label>
                <select asp-for="ProviderName" class="form-control" asp-items="ViewBag.Providers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input class="form-control" id="id_field" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" type="number" step="any" required />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantCNP" class="control-label">Tenant CNP</label>
                <input asp-for="TenantCNP" class="form-control" type="text" required />
                <span asp-validation-for="TenantCNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockNumber" class="control-label">Block number</label>
                <input asp-for="BlockNumber" class="form-control" type="number" required />
                <span asp-validation-for="BlockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label">Apartment number</label>
                <input asp-for="ApartmentNumber" class="form-control" type="number" required />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrance" class="control-label"></label>
                <input asp-for="Entrance" onchange="get_next_id_provider_bill()" class="form-control" type="text" required />
                <span asp-validation-for="Entrance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add bill" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>

