﻿@model LandlordsAssociation.Models.WaterConsumption

@{
    ViewData["Title"] = "AddWaterBill";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<link rel="stylesheet" href="~/css/messages.css" type="text/css">
<script src="~/js/site.js" type="application/javascript"></script>
<h4 style="text-align: center;">Add water consumption</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>

}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddWaterBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApartmentId" class="control-label">Apartment</label>
                <select asp-for="ApartmentId" class="form-control" asp-items="ViewBag.ApartmentId" onchange="get_last_read_value()" id="apartment_field"></select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Cubic meters</label>
                <input asp-for="Value" class="form-control" type="number" step="any" required />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastReadValue" class="control-label">Last read value in cubic meters</label>
                <input asp-for="LastReadValue" class="form-control" id="last_read_value_field" type="number" step="any" required />
                <span asp-validation-for="LastReadValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


