﻿
@{
    ViewData["Title"] = "SeeIncomeAndExpenses";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<div class="row" style="margin-top: 5%;">
    <div class="col-md-8">
        <table class="table table-hover table-dark">
            <thead>
                <tr style="text-align:center;">Income:</tr>
                <tr>
                    <th scope="col">Source of income</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sales/rentals</td>
                    <td>@ViewData["IncomeContracts"]</td>
                </tr>
                <tr>
                    <td>Bills + fees</td>
                    <td>@ViewData["IncomeApartments"]</td>
                </tr>
                <tr>
                    <td>Total income</td>
                    <td>@ViewData["TotalIncome"]</td>
                </tr>
                <tr>
                    <td>Profit</td>
                    <td>@ViewData["Profit"]</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-4 jumbotron" style="margin-top: 2%;">
        <h6>The number of employees: @ViewData["NoEmployees"]</h6>
        <h6>The number of providers: @ViewData["NoProviders"]</h6>
        <hr />
        <h6>The number of free flats: @ViewData["NoFlats"]</h6>
        <h6>The number of tenants: @ViewData["NoTenants"]</h6>
    </div>

    <div class="col-md-8">
        <table class="table table-hover table-dark">
            <thead>
                <tr style="text-align:center;">Expenses:</tr>
                <tr>
                    <th scope="col">Source of the expenses</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bills from providers</td>
                    <td>@ViewData["ExpensesBills"]</td>
                </tr>
                <tr>
                    <td>Unexpected payments</td>
                    <td>@ViewData["AdditionalBills"]</td>
                </tr>
                <tr>
                    <td>Salaries</td>
                    <td>@ViewData["Salaries"]</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>@ViewData["TotalExpenses"]</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>