﻿@model IEnumerable<LandlordsAssociation.ViewModels.ApartmentDebtViewModel> 
@{
    ViewData["Title"] = "ShowDebtList";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


    <div class="row justify-content-center" style="margin-top: 10%;">
        <h3 style="text-align: center;">Amounts to be colected from tenants</h3>
        <div class="col-10">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Apartment Id</th>
                        <th scope="col">Number</th>
                        <th scope="col">Floor</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Entrance</th>
                        <th scope="col">Block</th>
                        <th scope="col">Debt</th>
                        <th scope="col">Water consumption</th>
                        <th scope="col">Rent</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var apartment in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Floor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Block.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Block.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Entrance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Apartment.Block.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.Debt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.WaterBill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => apartment.UnpaidRent)
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>