﻿@model LandlordsAssociation.Models.Rent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<link rel="stylesheet" href="~/css/messages.css" type="text/css">
<h4 style="text-align: center;">Add a rent</h4>
<hr />
@if (ViewData["Message"] != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @ViewData["Message"]
    </div>
}
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PayDate" class="control-label">Pay date:</label>
                    <input asp-for="PayDate" class="form-control" type="date" />
                    <span asp-validation-for="PayDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApartmentId" class="control-label"> Apartment id:</label>
                    <select asp-for="ApartmentId" class="form-control" asp-items="ViewBag.ApartmentId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add rent" class="btn btn-primary" id="button-form" />
                </div>
            </form>
        </div>
    </div>


