﻿@model LandlordsAssociation.Models.Users

@if ((ViewData["CurrentUser"] as Users).Role.Equals("Administrator"))
{
        ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}
else
{
        ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_Layout_User.cshtml";
}

    <div class="jumbotron">
        <h1 style="text-align: center;">User account details</h1>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            @if (!(ViewData["CurrentUser"] as Users).Id.Equals(Model.Id))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Password)
                </dd>
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>
    </div>
