﻿@model LandlordsAssociation.Models.Users

@if(Model.Role.Equals("Administrator"))
{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}
else
{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h4 style="text-align: center">Edit your account</h4>

<hr />
<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" type="email"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" disabled/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="button-form"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
